body{
    background-color: #2e2e2e;
}
#bloque2{
    position: relative;
    
    
    background-color: #181818;
}






svg{
    position: absolute;
    height:auto;
    }


#pantalanes{
    z-index:0;
        width: 90%;

}
#pila{
    z-index: 1;
    margin-top: 4%;
        width: 47%;
        margin-left: 0.5%;


}
#letras{
    z-index: 1;
      width: 55%;

}






.letras-1,
.letras-2 {
    font-size: 60px;
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    font-family: MyriadPro-Regular, Myriad Pro;
}

 /* .letras-2 {
    letter-spacing: 0.01em;
}

.letras-3 {
    letter-spacing: -0.09em;
}  */

.cls-P {
    fill: #83907c;
}

.cls-O {
    fill: #907988;
}

.cls-M {
    fill: #7c9f6f;
}

.cls-N {
    fill: #ae6a6d;
}

.cls-J {
    fill: #c29f59;
}

.cls-I {
    fill: #5ea668;
}

.cls-H {
    fill: #6d9c72;
}

.cls-V {
    fill: #c4a188;
}

.cls-G {
    fill: #6fc254;
}

.cls-F {
    fill: #b05172;
}

.cls-E {
    fill: #639;
}

.cls-D {
    fill: #618576;
}

.cls-C {
    fill: #c72e8a;
}

.cls-Bprima {
    fill: #a15a6c;
}

.cls-B {
    fill: #a15a6c;
}

.cls-A {
    fill: #a15a6c;
}
.cls:hover {
fill: #990000;
transform: scale(150%);
/* transform: scale(); */
}